* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.container {
  width: 1365px;
  margin: 0 auto;
}
.header {
  height: 80px;
  padding: 20px;
    /* add fixed */
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}
.headerIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .////////////////// */
.nav{
  display: flex;
}
/* \/////////// */
.nav a,
.main a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000;
  margin-left: 8px;
  /* ///////////////////////// */
}
/* add animation to links */
.nav a::after{
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition:  0.2s;
}
.nav a:hover::after{
  transform: scaleX(1);
}
.logo {
  width: 240px;
  height: 40px;
  transform: translateY(15px);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  text-align: center;
}
.main {
  background: url('./images/Rectangle\ \(1\).png') no-repeat center;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.main h1 {
  font-size: 43px;
  line-height: 46px;
  font-weight: 300;
}
.main p {
  margin: 10px 0;
  font-size: 15px;
  line-height: 18px;
}
.main a {
  color: #ffffff;
}
.aboutText {
  width: 490px;
  margin: 15px auto;
}
h2 {
  font-weight: 400;
  font-size: 43px;
  line-height: 58px;
  /* ///////////////////// */
  background: url('https://img.freepik.com/free-vector/colourful-dynamic-flow-background_52683-42964.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text 7.5s linear infinite;
}
@keyframes text {
  from { background-position: 0% 50%;}
  to {background-position: 100% 100%;}
}
p {
  font-size: 14px;
  color: #a0a0a0;
  line-height: 25px;
}
.aboutText p {
  margin: 10px;
}
.aboutText .text {
  color: #000000;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 90px;
}
/* add hover to item */
.item{
  transition: .6s;
}
.item:hover{
  transform: scale(1.1);
}
.item h3 {
  margin-top: 20px;
}
.item a {
  font-size: 13px;
  color: #000000;
}
.item p {
  text-align: left;
}
.productsText p {
  width: 230px;
  margin: 10px auto;
}
.products svg {
  transform: translateX(-33px);
}
.muse {
  background: url('./images/Frame\ \(6\).png') no-repeat center;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.muse p {
  font-size: 14px;
  line-height: 16px;
  width: 643px;
  margin: 10px auto;
}
.muse a {
  color: #ffffff;
}
.wayIn p {
  text-align: center;
  margin: 20px auto;
  width: 946px;
}
.job p {
  width: 625px;
  margin: 15px auto;
}
.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/* add animation to img */

.gallery img{
  transition: .4s;
}
.gallery img:hover{
  box-shadow: 0 5px 15px  #9aa8ff;
}
.quote .jobText {
  width: 490px;
  height: 129px;
  margin: 50px auto;
}
.quote p {
  color: #000;
}
.back {
  height: 404px;
  background: #9aa8b1;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* /////////////// */
  transition: .4s;
}
/* add hover to back */
.back:hover{
  background:#a3cddf;
}
.back p {
  color: #fff;
  width: 481px;
}
.footer {
  position: relative;
}
.footer .svg {
  position: absolute;
  right: 73px;
}
.footerIn {
  display: flex;
  gap: 80px;
}
.blockOne {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.blockOne a {
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}
.blockTwo h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.blockTwo p {
  width: 340px;
  margin-top: 30px;
}
.blockTwo .footerLine {
  height: 1px;
  width: 320px;
  background: #000000;
  transform: translateY(60px);
}
.blockThree {
  position: absolute;
  right: 70px;
  display: flex;
  gap: 30px;
}
.active {
  color: #000;
}
